.Experiencia__Dados {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.Experiencia__Dados p {
    text-align: end;
}

#Experiencia {
    height: 100%;
}

.Experiencia {
    padding: 0 1.2rem 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--background-light);
}

.Experiencia p {
    margin-bottom: 1rem;
    font-weight: 200;
    font-size: 1rem;
}

.Experiencia__Dados h4{
    margin: 0;
    font-size: 1.3rem;
}

.Experiencia_Ocupacao {
    font-weight: 700;
    font-size: 1.3rem;
}

@media (min-width: 960px ) {
    #Experiencia {
        height: 100vh !important;
    }
}