.Button {
    border: none;
    color: var(--body-background);
    padding: .5rem 1.5rem;
    background-color: var(--brand);
    border-radius: .5rem;

    text-decoration: none;
    margin: 1rem 0;
    font-weight: 500;
    margin: 0;
    width: fit-content;
    margin: 0 auto;

    display: flex;
    align-items: center;
    gap: .5rem;
}

.Button svg {
    color: var(--body-background);
}

.Button:hover,.Button::selection {
    color: var(--body-background);
    cursor: pointer;
}

@media (min-width: 960px) {
    .Button {
        margin: 0;
    }
}