#Projetos .Title > h1 {
    order: 2;
}

#Projetos .Title .line {
    order: 1;
}

#Projetos {
    height: 100% !important;
}

.Projetos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
}

@media (min-width: 960px) {
    .Projetos {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}