section#SobreMim {
    height: 100%;
}

.Texto_SobreMim {
    display: flex;
    flex-wrap: wrap;
}

.Habilidades__frontEnd h4,
.Habilidades__backEnd h4{
    font-size: var(--text-xs);
    margin: 0;

    display: flex;
    align-items: center;
    gap: .8rem;
    margin-bottom: 1.5rem;
}

h4 svg {
    color: var(--brand);
}

.Habilidades_grid {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    font-size: 1rem;
    margin: 0;
}

.chip {
    background: var(--background-light);
    padding: .2rem .8rem;
    border-radius: 999px;
    color: var(--text);
}

.Paragrafo_SobreMim {
    margin: 0;
    margin-bottom: 1.8rem;
    font-weight: 200;
    text-align: start;
    font-size: 1.1rem;
}

.Paragrafo_SobreMim.Primeiro::first-letter {
    background: var(--background-light);
    padding: .4rem .6rem;
    border-radius: .4rem;
    font-size: var(--text-xs);
    font-weight: 700;
    margin-right: .3rem;
    float: left;
}

@media (min-width: 960px ) {
    .Texto_SobreMim {
        display: grid;
        grid-template-columns: 2fr 300px;
        grid-gap: 2.4rem;
    }

    section#SobreMim {
        height: calc(80vh - 90px);
    }
}